.thumbnailImage {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}
.bookmark {
    position: absolute;
    top: 4%;
    right: 2%;
    width: 32px;
    height: 32px;
    fill: #6366f1;
    opacity: 0.7;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 700;
    align-items: center;
    font-size: 20px;
    width: 100%;
    color: #000;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.title svg {
    width: 32px;
    height: 32px;
    fill: #f43f5e;
    cursor: pointer;
}
.description {
    font-weight: 400;
    font-size: 14px;
    color: #171717;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
