.container {
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    min-width: 300px;
    max-width: 300px;
    cursor: pointer;
    min-height: 150px;
}
.thumbnail {
    width: 100%;
    height: 180px;
    border-radius: 12px;
    position: relative;
    border: 1px solid #ccc;
}
.content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: space-between;
}
.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
